body{
  background-image: url("s2.jpg");
  background-size: cover;
}
h1{
  color:gold;
}
label{
  color: whitesmoke;
}
input{
  border-radius: 50px 50px;
}
button{
  color: brown;
  background-color: black;
  border-radius: 45px 90px;
  padding: 4px;
}
div{
  color: whitesmoke;
}